.active-contact,
.user__pick-new-msg {
  height: 5rem;
}
.chat, .contact__name, .user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat__typing {
  font-size: .75rem;
  line-height: 1.5rem;
}
.chats .list-group {
  height: calc(100vh - 3.55rem);
  z-index: 1031;
}
.messages {
  height: calc(100vh - 8.65rem);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 5rem;
}
.message__body {
  background: #e8e9ea;
  border-radius: .75rem;
  min-width: 3rem;
  word-break: break-word;
}
.message__time {
  bottom: -.75rem;
  color: #ececec;
  font-size: .75rem;
  position: relative;
}
.message__time--dark {
  color: #5c5c5c;
}
.user__pick-new-msg {
  line-height: 3rem;
}
